[submodule "phone-crud-backend"]
	path = phone-crud-backend
	url = https://github.com/balb0x/phone-crud-backend.git
[submodule "phone-crud-frontend"]
	path = phone-crud-frontend
	url = https://github.com/balb0x/phone-crud-frontend.git
